{
  "s3": {
    "cloudfrontBaseUrl": "https://xxxx.cloudfront.net",
    "outputFolder": "output"
  },
  "mapbox": {
    "accessToken": "pk.eyJ...",
    "styleUrl": "mapbox://styles/your-account/your-style-id"
  }
}
