$dark-blue: #0F2F80;
$medium-blue: #4B63A0;
$grey: #878787;
$light-grey: #D6DDEB;
$orange: #EA9014;
$vibrant-blue: #0075FF;

$map-nav-top: 20px;
$disaster-title-bar-height: 46px;
$tabs-height: 37px;

$nav-bar-closed-width: 61px;
$nav-bar-width: 250px;
$nav-bar-gap: 20px;

$map-menu-width: 400px;

$action-button-bottom: 26px;
$action-button-right: 32px;
$action-button-width: 240px;
$action-button-height: 42px;
